<main>
  <h1>Welcome</h1>
  <em> Come Generate Some Random Words </em>
  <br />

  <div class="home-button">
    <%= link_to 'New Word', new_word_path %>
  </div>

  <div class="home-button">
    <%= link_to 'All Words', words_path %>
  </div>
</main>
